<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="48" fxFlex.gt-md="48">
  <div class="content">
    <header class="mat-accent-bg">
      <div class="title">{{'DEVICE.DEVICE_STATE_TITLE' | translate}}</div>
    </header>

          <div class="tab-content p-24" fusePerfectScrollbar>

            <mat-form-field class="w-100-p">
              <input matInput name="name"  placeholder="{{'CRONJOB.NAME' | translate}}" required>
            </mat-form-field>

            <mat-form-field class="w-100-p">
              <input matInput name="eventType" placeholder="{{'CRONJOB.EVENT_TYPE' | translate}}" required>
            </mat-form-field>

            <mat-form-field class="w-100-p">
              <input matInput name="cronjobFormat"  placeholder="{{'CRONJOB.CRONJOB_FORMAT' | translate}}"
                required>
            </mat-form-field>

            <mat-form-field class="w-100-p">
              <input matInput name="active"  placeholder="{{'CRONJOB.ACTIVE' | translate}}" required>
            </mat-form-field>

            <mat-form-field class="w-100-p">
              <textarea matInput name="body"  placeholder="{{'CRONJOB.BODY' | translate}}" rows="5">
                          </textarea>
            </mat-form-field>
          </div>

  </div>
</div>
