<div id="cronjobs" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">speaker_phone</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'CRONJOB.CRONJOBS' | translate}}</span>
      </div>

      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="{{'CRONJOB.SEARCH' | translate}}">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="cronjob-table" #table (matSortChange)="sortData($event)" [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
          <mat-header-cell mat-sort-header="name" *cdkHeaderCellDef >{{'CRONJOB.NAME' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let cronjob">
            <p class="text-truncate">{{cronjob.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- EventType Column -->
        <ng-container cdkColumnDef="eventType">
          <mat-header-cell mat-sort-header="eventType" *cdkHeaderCellDef >{{'CRONJOB.EVENT_TYPE' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let cronjob">
            <p class="text-truncate">{{cronjob.eventType}}</p>
          </mat-cell>
        </ng-container>

        <!-- Format Column -->
        <ng-container cdkColumnDef="cronjobFormat">
          <mat-header-cell mat-sort-header="cronjobFormat" *cdkHeaderCellDef >{{'CRONJOB.cronjobFormat' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let cronjob">
            <p class="text-truncate">{{cronjob.cronjobFormat}}</p>
          </mat-cell>
        </ng-container>

        <!-- Version Column -->
        <ng-container cdkColumnDef="Version">
          <mat-header-cell *cdkHeaderCellDef >{{'CRONJOB.VERSION' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let Version">
            <p class="text-truncate">{{cronjob.Version}}</p>
          </mat-cell>
        </ng-container>



        <!-- Active Column -->
        <ng-container cdkColumnDef="active">
          <mat-header-cell mat-sort-header="active" *cdkHeaderCellDef  fxHide fxShow.gt-xs>{{'CRONJOB.ACTIVE' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let device" fxHide fxShow.gt-xs>
            <mat-icon *ngIf="device.active" class="active-icon mat-green-600-bg s-16">check</mat-icon>
            <mat-icon *ngIf="!device.active" class="active-icon mat-red-500-bg s-16">close</mat-icon>
          </mat-cell>
        </ng-container>


        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let cronjob; columns: displayedColumns;" class="product" matRipple [routerLink]="'cronjob/'+cronjob.id">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [length]="tableSize" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
